<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books | Acquisition App</title>
</head>
<body>
    <h1>Total Books Entered</h1>

    <div>
        {% if book_records %}
        <table>
            <thead>
                <th>Accession Number</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Book Edition</th>
                <th>ISBN/ISSN</th>
            </thead>
            {% for book in book_records %}
            <tr>
                <td>{{ book.book_acc_no }}</td>
                <td>{{ book.book_name }}</td>
                <td>{{ book.book_author }}</td>
                <td>{{ book.book_ed }}</td>
                <td>{{ book.book_isbn }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No Records </p>
        {% endif %}
    </div>
</body>
</html>